

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;600&family=Oswald:wght@300;400;500;700&display=swap');
.hello {
    background: red;
}
//
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
}
//
//@font-face {
//    font-family: "AvenirNextCyr";
//    src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: "ArialRoundedMTProCyrBold";
//    src: url("../fonts/ArialRoundedMTProCyr-Bold.otf") format("truetype");
//    font-weight: normal;
//    font-style: normal;
//}
