
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > main {
    flex: 1 0 auto;
  }
}

[class*="__container"] {
  max-width: $maxW;
  //padding: 0 var(--side-indent);
  @include adaptiveValue("padding-right", 70, 20, 1440, 768);
  @include adaptiveValue("padding-left", 70, 20, 1440, 768);
  margin: 0 auto;
  width: 100%;
}


.usual-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
max-width: 180px;

  color: $light3;
  background: $primary1;

  font-family: $ff2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;


  &:hover {
    background: $primary2;
  }

  &:active {
    background: $dark1;
  }
}

.usual-header {
  font-family: $ff2;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;
  color: $dark2;

  &__white {
    color: $light1
  }
}


