.footer {
  //min-height: 330px;
  position: relative;

}

.footer__bg {
  background: $dark1 url('../img/footer-bg.jpg') 0 70% no-repeat;
  //object-fit: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  @media (max-width:$maxW) {
    //моя задумка, но тогда лого должно быть прозрачным
    // лучше не надо, т.к. тогда не так хорошо выделяется logo
    //background-position: 50%;
  }
}

.footer__container {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer__list {
  //display: flex;
  //@include adaptiveValue("gap", 115, 30, 1440, 1100);
  //@media (max-width:$footer-to-mb) {
  //  flex-direction: column;
  //  align-items: center;
  //  text-align: center;
  //}
  display: grid;
  grid-template-areas: 'a b c d';
  gap: 10px;
  @media (max-width:$footer-two-col) {
    grid-template-areas:
  'a b'
  'd c';
    gap: 80px 40px ;
    align-items: center;
    justify-content: space-evenly;
  }

  @media (max-width:$footer-to-mb) {
    grid-template-areas:
    //'a'
    'b'
    'c'
    'd';

  }

}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &:nth-child(1) {
    grid-area: a;

    @media (max-width:$footer-to-mb) {
      display: none;
    }
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
    @media (max-width:$footer-two-col) {
      justify-self: center;
    }
  }

  &:nth-child(even) {
    @media (min-width:$footer-two-col) {
      margin-top: 20px;
    }
  }

  //&:nth-child(odd) {
  //  @media (max-width: $footer-two-col) {
  //    justify-self: end;
  //  }
  //}

}

.footer__logo {
  display: flex;
  flex-direction: column;

  img {
    width: 180px;
  }
}


.footer__header {
  font-family: $ff2;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts-item {
  display: flex;
  gap: 10px;
  font-family: $ff1;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__map {

}

.footer__social {
  display: flex;
  gap: 15px;
}

.footer__social-item {
}
