.header {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
}



.header__container {
  display: flex;
  align-items: center;
  gap: 10px;


  > .usual-btn {
    margin-left: auto;
    @media (max-width:$mobile) {
      display: none;
    }
  }
}

.header__logo {
  width: 67px;
  height: 52px;
}

.header__nav {
  display: flex;
  gap: 10px;
}

.header__nav-link {
}

