.header {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;

}



.header__container {
  display: flex;
  align-items: center;

  gap: 15px;
  min-height: 70px;
  @media (max-width:$toBurger) {
    min-height: 60px;
  }

  > .usual-btn {
    margin-left: auto;
    @media (max-width:$toBurger) {
      display: none;
    }
  }
}

.header__logo {
  width: 67px;
  height: 52px;
}

.header__nav {
  display: flex;
  gap: 10px;
  @include adaptiveValue("gap", 70, 15, 1440, 1000);
}

.header__nav-link {
  font-family: $ff1;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  /* Dark/2 */

  color: $dark2;
  transition: color $tr-time ease;

  &:hover {
    color: $primary1;
  }

}

