html,
  /* body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */

.outer-swiper {
  height: 100%;
  position: relative;
  z-index: 0;

}

.swiper-for-thumbs {
  //width: 100%;
  //height: 100%;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper {

}

.swiper-slide-thumbs {
  //text-align: center;
  //font-size: 18px;
  //background: #fff;
  //
  ///* Center slide text vertically */
  //display: flex;
  //justify-content: center;
  //align-items: center;
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  background: $main-bg-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform .8s ease;


  img {
    display: block;
    width: 100%;
    height: 100%;
    //max-height: 500px; //!!!!!!!!
    object-fit: cover;
  }



}

.swiper-slide {

}

//.swiper-slide.swiper-slide-thumbs img {
//  display: block;
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//}

//body {
//  background: #000;
//  color: #000;
//}

.swiper {

}

//.swiper-slide.swiper-slide-thumbs {
//  background-size: cover;
//  background-position: center;
//}

.swiper-for-thumbs {
  /* height: 80%; */
  height: 100%;
  width: 100%;
}

.swiper-thumbs-list.swiper {
  /* height: 20%; */
  box-sizing: border-box;
  padding: 10px 0;
  overflow: visible;

  /* width: 10%; */
  height: 100%;
  width: 60px;


  position: absolute;
  top: 135px;
  right: 15px;
}

.swiper-thumbs-list .swiper-slide {
  width: 60px !important;
  height: 60px !important;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  border: 2px solid #F9F9F9;
  border-radius: 5px;
  cursor: pointer;
  /* opacity: 0.4; */
}

.swiper-thumbs-list .swiper-slide-thumb-active {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

//.swiper-slide.swiper-slide-thumbs img {
//  display: block;
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//}

.works__inner-swiper {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* //======================================================================================================================================================== */

.swiper-thumbs-list .swiper-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* width: 10%; */
  margin: 0;
  height: 340px;
  overflow-y: scroll;

  opacity: 0;

  //!!!!!!!!! тут у нас ошибочка!!!! НЛО на это штуке ! снизу ы!!!!!!
}

.swiper-slide-active .swiper-thumbs-list .swiper-wrapper {
  opacity: 1;
  transition: all $tr-time ease;

}
