.modal {
  transition: all $tr-time ease;

  position: fixed;
  //visibility: hidden;
  max-width: 100vw;
  height: 100%;
  //max-height: 548px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: $zi-modal;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);

}

.modal__content {

  position: absolute;
  top: 15%;
  left: calc(50% - 220px);
  width: 100%;
  max-width: 450px;
  background: #2D2D2D;
  padding: 75px 40px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  @media (max-width:900px) {
    top: 15%;
  }
  @media (max-width:450px) {
    top: 15%;
    padding: 40px 20px;
    left: 0;
  }
}


.modal__header {
  max-width: 500px;
  font-family: $ff1;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $light3;
}

.modal__subtext {

  font-family: $ff1;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $light3;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;

  .usual-label {
    align-self: flex-start;
    margin-left: 20px;
  }

  input:first-of-type {
    margin-bottom: 20px;
  }

}

.usual-label {
}

.usual-inp {
}

.usual-btn {
}

.usual-btn--send-modal {

}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  &::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 20px;
    width: 30px;
    height: 3px;
    background: rgba(255, 255, 255, 0.66);
    transform: rotate(-45deg);
    z-index: 10;
  }
  &::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 20px;
    width: 30px;
    height: 3px;
    transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.66);
    z-index: 10;
  }

  &:hover {
    transition: all $tr-time ease;
    &::before {
      background: $primary1;
    }

    &::after {
      background: $primary1;
    }
  }
}

.modal-hidden {
  transition: all $tr-time ease;
  visibility: hidden;
  opacity: 0;

}

.modal__sussess-txt {


}
