.quiz {
  background: $main-bg-color;
}

.quiz__container {
  padding: 60px 100px;

  @media (max-width: 1200px) {
    padding: 60px 0;
  }

  @media (max-width: $quiz-to-mb) {
    padding: 0;
  }

}

.quiz__swiper.swiper {
  background: #2D2D2D;
  @media (max-width: $quiz-to-mb) {
    padding-bottom: 145px;
  }
}

.swiper {
}

.quiz__swiper-wrapper {
}

.swiper-wrapper {
}

.quiz__swiper-slide {
  background: #2D2D2D;
  display: flex;
  flex-direction: column;
}

.q-slide {
  display: flex;
  flex-direction: column;


  @media (max-width: $quiz-to-mb) {
    //padding: 20px;
  }

}

.q-slide__top {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $light3;
  padding: 20px 50px;

  @media (max-width: $quiz-to-mb) {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    padding-bottom: 80px;
    justify-content: center;
    text-align: center;
  }
}

.q-slide__top-usual-text {


  font-family: $ff2;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $light4;
  max-width: 275px;


}

.q-slide__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 50px;

  @media (min-width: $quiz-to-mb) {
    min-height: 456px;
  }

  @media (max-width: $quiz-to-mb) {
    order: 3;
    padding: 20px;
  }
}

.q-slide__form {
  display: flex;
  justify-content: center;
  gap: 40px;

  @media (max-width: $quiz-to-mb) {
    flex-direction: column;
    gap: 20px;
  }

}

.q-slide__form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  //transition: all $tr-time ease;
  //gap: 20px;

  input {
    appearance: none;
    display: none;
  }

  position: relative;

  input:checked + label {
    .q-slide__img:before {
      filter: none;
      position: absolute;
      content: '';
      right: -20px;
      top: 75%;
      background: $primary1 url('../img/mark.svg') 0 0 / contain no-repeat;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 10;
      @media (max-width: $quiz-to-mb) {
        width: 30px;
        height: 30px;
        right: 2%;
        bottom: 2%;
        top: unset;
      }
    }

  }

  @media (max-width: $quiz-to-mb) {
    flex-direction: row;
    gap: 20px;
  }

  label {
    position: relative;
    margin-bottom: 10px;
    transition: all $tr-time ease;

    @media (max-width: $quiz-to-mb) {
      //height: 175px;

      //flex: 0 1 50%;
      //margin: 0;
      align-items: center;
      margin: 0;

    }

    @media (max-width: 450px) {
      min-width: 140px;
      //flex-basis: 40%;
      //height: auto;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      border: 1px solid transparent;
    }


  }


}

.quiz__content-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width:$quiz-to-mb) {
    align-items: center;
  }
}

.q-slide__title {

  /* H/5 */

  font-family: $ff2;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $light1;
  text-align: center;
  @media (max-width: $quiz-to-mb) {
    text-align: left;
  }

}

.q-slide__text {
  /* Text/2 */

  font-family: $ff1;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #B9AE9D;
  max-width: 200px;
  @media (max-width: $quiz-to-mb) {
    text-align: left;
  }
}


.q-slide__question {
  display: flex;
  align-items: center;

  font-family: $ff2;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: $light3;

  padding: 20px 50px;
  @media (min-width: $quiz-to-mb) {
    border-top: 2px solid $light3;
  }
  @media (max-width: $quiz-to-mb) {
    font-size: 20px;
    line-height: 30px;
    justify-content: center;
    text-align: center;
    order: 2;
    border-bottom: 2px solid $light3;
    padding: 10px;
  }
}

//==================================================================
.quiz__pagination.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: unset;
  bottom: unset;
  position: absolute;
  //background: yellow;
  right: 50px;
  max-width: 220px;
  top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;

  @media (max-width: $quiz-to-mb) {
    left: calc(50% - 110px);
    top: 80px;
  }
}

.dot.swiper-pagination-bullet.swiper-pagination-bullet-done {
  opacity: unset;
  background: unset;
  color: $primary1;
}

.dot.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: $light1;
  opacity: unset;
  background: unset;
}

.dot.swiper-pagination-bullet {
  font-family: $ff1;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: $dark4;

  width: unset;
  height: unset;
  display: unset;
  border-radius: unset;
  background: unset;
  opacity: unset;
}

.swiper-pagination {
}

.quiz__swiper-button-prev.swiper-button-prev {
  font-family: $ff2;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $light1;
  width: 180px;
  border: 1px solid $primary1;
  top: unset;
  left: unset;

  background: transparent;
  padding: 8px 15px;

  @media (min-width: $quiz-to-mb) {
    right: calc(180px + 50px + 15px);
    bottom: 2.7%;
  }

  &:after {
    content: ''
  }

  &:hover {
    background: $primary2;
  }

  &:active {
    background: $dark1;
  }

  @media (max-width: $quiz-to-mb) {
    bottom: 20px;
    max-width: 176px;
    /* padding: 10px 15px; */
    text-align: center;
    left: calc(50% - 88px);
  }
}

.swiper-button-prev {
}

.quiz__swiper-button-next.swiper-button-next {
  top: unset;
  @media (min-width: $quiz-to-mb) {

    right: 50px;
    bottom: 2.7%;
  }
  @media (max-width: $quiz-to-mb) {
    bottom: 84px;
    max-width: 176px;
    /* padding: 10px 15px; */
    text-align: center;
    left: calc(50% - 88px);
  }

  width: 220px;
  color: white;

  &:after {
    content: ''
  }
}

.swiper-button-next {
}

.swiper-button-prev.swiper-button-disabled {
  //display: none;
}


.hover-quiz {
  cursor: pointer;



  label {

    q-slide__img img {
      filter: grayscale(1);
      transition: all $tr-time ease;
    }

  }

  label:hover {
    box-sizing: border-box;
    cursor: pointer;

    q-slide__img img {
      transition: all $tr-time ease;
      border: 1px solid $primary1;
      filter: none;
    }

  }
}

.q-slide__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width:$quiz-to-mb) {
    display: flex;
    gap: 15px;
    flex-direction: row;
  }
}


//==last-quiz========================================================

.q-slide__last-content {
  display: flex;
  align-items: center;
  @media (max-width: $quiz-to-mb) {
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
  }
}

.q-slide__congrat {
  position: relative;
  border-right: 2px solid $light1;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $quiz-to-mb) {
    //min-height: 456px;
    border: none;
    margin-top: 50px;
  }
}

.q-slide__img {
  flex: 1 0 50%;
  height: 100%;
  position: relative;

  img {
    left: 0;
    top: 0;
    //max-width: 100%;
    //max-height: 100%;
    //width: 100%;
    //height: 100%;
    object-fit: cover;
    border: 1px solid transparent;
    @media (max-width: $quiz-to-mb) {
      width: 400px;

    }
    @media (max-width: 400px) {
      width: 100vw;
    }
  }
}

.q-slide__congrat-txt {
  position: absolute;
  top: 25%;
  left: calc(50% - 200px);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  //max-height: 346px;

  @media (max-width: $quiz-to-mb) {
    top: 15%;
    padding: 40px
  }
  @media (max-width: 400px) {
    left: 0;
    top: 0;
    padding: 10px;
  }

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);

  p:nth-child(1) {
    text-align: center;
    font-family: $ff2;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
    color: $dark1;
  }

  p:nth-child(2) {

    font-family: $ff1;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: $dark1;
  }

}

.q-slide__send-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  width: 100%;
}

.q-slide__give-tel-txt {
  max-width: 500px;
  font-family: $ff1;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $light3;
}

.q-slide__inp {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}

.usual-label {
  margin-left: 10px;
  font-family: $ff1;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  color: $light1;
  text-align: left;
}

.usual-inp {
  font-family: $ff1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  color: $light4;

  width: 100%;
  max-width: 340px;
  padding: 15px;

  &::placeholder {
    font-family: $ff1;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    color: $light4;
  }
}

.usual-btn {
}

.usual-btn--send-quiz {
  max-width: 240px;
}

.q-slide__after-quiz {
  margin: 0 auto;
  max-width: 500px;
  font-family: $ff1;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #FFFBF4;
}

.quiz-hidden {
  display: none;
}

.quiz-hidden.quiz__swiper-button-prev.swiper-button-prev,
.quiz-hidden.quiz__swiper-button-next.swiper-button-next {
  display: none;
}
