.types-serv {
  background: $light1;
}

.types-serv__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;

  padding-top: 75px;
  padding-bottom: 75px;
}

.types-serv__list {
  display: grid;

  @media (min-width: $types-serv-to-mb) {
    border: 1px solid #BBBBBB;
    grid-template-rows: repeat(2, minmax(230px, 1fr));
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-template-areas:
     'a b c d'
     'e f g d';
  }
  @media (max-width: $types-serv-to-mb) {
    grid-template-columns: minmax(210px, 1fr);
    justify-items: center;
    grid-template-rows: unset;


  }

}


.types-serv__item {
  min-height: 230px;
  border: 1px solid #BBBBBB;

  @media (min-width: $types-serv-to-mb) {

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
      align-self: center;
      //height: 100%;
      border: none;
    }

    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
    }

    &:nth-child(7) {
      grid-area: g;
    }
  }

  @media (max-width: $types-serv-to-mb) {
    max-width: 320px;
    width: 100%;
  }

  &:hover {
    .types-serv__item-non-hover {

      display: none;

    }

    .types-serv__item-hover {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      text-align: left;
    }
  }


}


.types-serv__item-non-hover {
  padding: 50px;

  img {
    margin-bottom: 20px;
  }
}


.types-serv__item-hover {
  width: 100%;
  height: 100%;
  display: none;
  //opacity: 0;
  padding: 25px 20px;
  transition: all $tr-time ease;

  font-family: $ff2;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;


}


.types-serv__header {
  font-family: $ff2;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $dark2;
}
