$ff1: 'Avenir', sans-serif;
$ff2: 'Oswald', sans-serif;


$main-font-size: 15px;
$primary-line-height: 1.2;
$main-font-weight: 400;
$main-bg-color: #F9F9F9;


//colors:
$dark1: #212121;
$dark2: #0F0F0E;
$dark3: #313131;
$dark4: #7E7668;
$dark5: #3C3C3C;

$light1: #FFFFFF;
$light3: #FFFBF4;
$light4: #B9AE9D;
$light5: #E7E7E7;

$primary1: #EAA53C;
$primary2: #CB8A27;





$maxW: 1440px; // 20 паддинги с обеих сторон
$toBurger: 1000.98px;
$mobile: 767.98px; // это когда переходит на бургер, просто так назвал
$minW: 320.98px;
$on768: 767.98px;
$tr-time: 0.3s; // transition time


//header
$header-hei: 60px; // в js надо менять будет



//hero
$hero-to-mb: 600.98px;

//about
$about-to-mb: 1000.98px;
$about-next-break: 650.98px;

//works
$works-to-mb: 800px;

//servs
$servs-to-mb: 800.98px;

//loyal
$loyal-to-mb: 650.98px;

//review
$reviews-to-mb: 900.98px;

//price
$price-to-mb: 768.98px;

//quiz
$quiz-to-mb:1000.98px;


//footer
$footer-to-mb: 600.98px;
$footer-two-col: 900.98px;








//zindex

//header
$zi-header: 100; // выше всего
//


//hero-zi
$zi-hero: -1;
$zi-roller-hero: 5;
$zi-warranty-hero: 10;
//

//loyal-zi
$loyal-zi-nearest: 20;
$loyal-zi-near-img: 16;
$loyal-zi-after-nearest: 15;
$loyal-zi-middle: 10;
$loyal-zi-far: 5;





//:root {--side-indent: 70px;
//@media (max-width:$mobile) {
//  --side-indent: 20px;
//  @include adaptiveValue("--side-indent", , , 1440, 320);;
//}
//}


// уменьшаю везде паддинг с 20 до 15px

//:root {
//  --side-indent: 20px;


  //@media (max-width: $modal-to-mb) {
  //  --side-indent: 15px;
  //
  //}
//}

