.works {
  background: $main-bg-color;
}

.works__container {
  padding: 100px 0;
  @media (max-width:$works-to-mb) {
    padding: 50px 0;
  }
}


.usual-header--another {
  font-family: $ff2;
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  color: $dark1;
  text-align: center;
  //margin-bottom: 100px;

  @media (max-width: $works-to-mb) {
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    //margin-bottom: 25px;
    @media (max-width:450px) {
      //margin-bottom: -50px;
      z-index: 5;
      position: relative;
    }
    }

}

.swiper.works__swiper {

  width: 100%;
  height: 700px;
  //overflow: visible;
}


.works__swiper-wrapper {
}


.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next {
}

//!! стрелки на середку
.works__swiper-button-next.swiper-button-next, .swiper-rtl .swiper-button-next,
.works__swiper-button-prev.swiper-button-prev, .swiper-rtl .swiper-button-prev {
  height: 40px;
  width: 40px;
  background: $primary1;
  @media (max-width: $works-to-mb) {
    top: unset;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    //background-position: calc(50% - 20px) calc(50% - 20px);
    height: 20px;
    width: 20px;
    transition: all $tr-time ease;
  }

  &:hover {
    background: $primary2;
  }

  &:active {
    background: $dark2;
  }
}

.works__swiper-button-next.swiper-button-next, .swiper-rtl .swiper-button-next {
  @media (min-width: $maxW) {
    right: 30%;
  }
  right: 21%;
  @media (max-width: 1000px) {
    right: 19%;
  }

  @media (max-width:$works-to-mb) {
    right: 2%;
    bottom: 125px;
  }

  &:after {
    background: url("../img/arrow-right.svg") no-repeat;
  }

  //position: relative;


}

.works__swiper-button-prev.swiper-button-prev, .swiper-rtl .swiper-button-prev {
  @media (min-width: $maxW) {
    left: 30%;
  }
  left: 21%;

  @media (max-width: 1000px) {
    left: 19%;
  }
  @media (max-width:$works-to-mb) {
    left: 2%;
    bottom: 125px;
  }

  &:after {
    background: url("../img/arrow-left.svg") no-repeat;
  }
}


//=slide===========================================================


.works__swiper-slide {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  background: $main-bg-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform .8s ease;


  img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 500px; //!!!!!!!!
    object-fit: cover;
  }
}

.works__slide-addr {
  //opacity: 0;
  position: absolute;
  bottom: 125px;
  left: -30px;
  //
  //visibility: hidden;
  //transition: all $tr-time ease;
  padding: 15px 25px;

  font-family: $ff2;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $dark2;
  background: $light1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  @media (max-width:$works-to-mb) {
    //left: 0;
    //right: 0;
    position: static;
    transform: translateY(-46px);
  }
}

.swiper-slide-active .works__slide-addr {
  left: -30px;
  bottom: 125px;
}

//!!
.works__swiper-slide.swiper-slide.swiper-slide-next,
.works__swiper-slide.swiper-slide.swiper-slide-prev {
  transform: scale(0.8);

}

.works__swiper-slide.swiper-slide.swiper-slide-active {
  transform: scale(1); // увеличение на 20%
  transition: transform .8s ease;
}


///////
.works__slide-info {
  position: absolute;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all $tr-time ease;

  display: flex;
  //margin-top: 30px;

  background: $light1;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.03);

  @media (max-width:$works-to-mb) {
    //margin-top: 50px;
  }
}
.swiper-slide.swiper-slide-active .works__slide-info {
  visibility: visible;
  opacity: 1;
}

.works__slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 30px;

  &:not(:last-child) {
    border-right: 1px solid $primary1;
  }
  @media (max-width:$works-to-mb) {
    padding: 15px 15px;
    @media (max-width:450px) {
      padding: 15px 5px;
    }
  }
}

.works__slide-item--name {
  font-family: $ff1;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $dark4;
}

.works__slide-item--value {
  font-family: $ff2;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $dark2;
}













